@{
    ViewData["Title"] = "Index/Hello";
    ViewData["message"] = "This is a sample message.";
}

<div class="text-left">
    <h1 class="display-3">
        Index
    </h1>
    <p class="h3 mb-4">Welcome to ECC!</p>
    <p>@ViewData["message"]</p>
</div>